body {
    background-color: rgb(27, 28, 29);
}

header {
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    width: 1000px;
    height: 400px;
    top: 10px;
    left: 10px;
    z-index: 1;
    overflow: hidden;
}

header img {
    opacity: .7;
}


main {
    background-color: rgb(39, 54, 54);
    background-image: url(images/pic2.jpg);
    background-size: cover;
    height: 3450px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

article {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 1316px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 200px;
    padding-top: 40px;
}

.rooms {
    background-color: rgb(33, 50, 65, 0.8);
    width: 600px;
    height: 400px;
    float: left;
    margin-left: 30px;
    margin-right: 15px;
    padding-top: 10px;
    border-radius: 2%;
}

.room2 {
    background-color: rgb(33, 50, 65, 0.8);
    width: 1250px;
    height: 400px;
    float: left;
    margin-left: 30px;
    margin-right: 15px;
    padding-top: 10px;
    border-radius: 2%;
}

.closets {
    background-color: rgb(33, 50, 65, 0);
    width: 250px;
    height: 380px;
    float: left;
    margin-left: 30px;
    margin-right: 4px;
    margin-top: 20px;
    overflow: hidden;
}

.closet2 {
    background-color: rgb(33, 50, 65, 0);
    width: 280px;
    height: 380px;
    float: left;
    margin-left: 240px;
    margin-right: 4px;
    margin-top: 10px;
    overflow: hidden;
}

.closetbanner {
    background-color: rgb(33, 50, 65, 0);
    width: 350px;
    height: 250px;
    float: left;
    margin-left: 200px;
    margin-right: 4px;
}

img {
    width: 100%;
}

.room3 {
    background-color: rgb(33, 50, 65, 0);
    width: 1250px;
    height: 400px;
    float: left;
    margin-left: 25%;
    margin-top: 25%;
    padding-top: 10px;
    border-radius: 2%;
}

.room3 img {
    opacity: .7;
}

.instagram:hover {
    opacity: 1;
}

.twitter:hover {
    opacity: 1;
}

