div {
    width: 400px;
    padding-left: 37%;
}


header img{
    height: 2%;
    width: 2%;
    float: left;
    opacity: .7;
}

.home {
    height: 80px;
    width: 80px;
}

.button1 {
    height: 90px;
    width: 50px;
}

.button2 {
    height: 90px;
    width: 50px;
}

.button1:hover {
    opacity: 1;
}

.button2:hover {
    opacity: 1;
}

.home:hover {
    opacity: 1;
}

body {
    background-color: rgb(39, 54, 54);
}
img {
    width: 90%;
    padding: 30px;
}

.text {
    display: block;
    margin-left: 20%;
    width: 50%;
}


